.infoWindow {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    display: flex;
    opacity: 0;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 0.3s ease-in-out;
    flex-direction: column;
    pointer-events: none;
    &__coordinates {
        display: flex;
        margin-bottom: 0.5rem;
        a {
            text-decoration: none;
            pointer-events: auto;
            display: block;
            width: 70px;
            height: 70px;

            &.infoWindow__tel{
                background: url('/images/call_icon.png');
                background-size: 70px 70px;
            }

            &.infoWindow__latlng{
                background: url('/images/google_maps_icon.png');
                background-size: 70px 70px;
            }
        }
    }

    &__card {
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0 2px 6px rgba(0,0,0,.3);
        padding: 1rem;
        font-family: Roboto, Arial, sans-serif;
        font-size: 1rem;
    }

    &__description{
        list-style-type: none;
        font-size: 0.6875rem;
    }
}
